<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="usersFormLayout(user)">
    <form class="form" th:object="${user}" method="post" th:action="@{${user.id == null ?
                                                                                    '/admin/users' :
                                                                                    '/admin/users/' + user.id}}">
        <input type="text" class="inputText" placeholder="назавание" th:field="*{username}">
        <input type="text" class="inputText" placeholder="заметка" th:field="*{role}">
        <input type="submit" class="inputSubmit" value="add">
    </form>
</th:block>
</body>
</html>