<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<div class="container">
    <div class="modal">
        <form class="form" action="/login" method="post">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Главная</a>
            <input type="text" name="username" class="inputText">
            <input type="password" name="password" class="inputText">
            <input type="submit" value="sign in" class="inputSubmit">
        </form>
    </div>
</div>
</body>
</html>